<% provide(:li_class_pj, "class=active") %>
<h1>Listing projects</h1>
  <div class="container">
    <% @projects.each do |project| %>
    <div class="projectindex">
      <p>
        <strong> <%= link_to project.title, project_path(project.id)%></strong><br>
        <em> Project by: <%= project.user_id %> </em><br>
        <%= project.teaser %><br>
      </p>
    </div>
      <% end %>
  </div>
